<div class="scrollTop">
  <button class="scrollTop__link"><i class="fa-solid fa-angle-up"></i></button>
</div>
<footer class="footer">
  <div class="inner">
    <div class="footer__content">
      <div class="footer__logo">
        
      </div>
      <div class="navbar">
        <div class="navbar__content">
          <ul class="navbar__list">
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__copy">
      <p>© 2025 \ All Rights Reserver</p>
    </div>
  </div>
</footer>
<!-- /footer -->