<meta charset="UTF-8">
<title>@@title</title>
<meta name="keywords" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- favicon -->
<link href="@@webRoot/assets/img/common/favicon.ico" type="image/x-icon" rel="icon">
<!-- meta social -->
<meta name="description" content="">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:image" content="@@webRoot/assets/img/common/favicon.ico">
<meta property="og:type" content="article">
<meta property="og:site_name" content="">
<meta property="og:site_url" content="">
<meta name="format-detection" content="telephone=no">
<!-- include styles.html -->
<link rel="stylesheet" href="@@webRoot/assets/css/lib/fontawesome.min.css">
<link rel="stylesheet" href="@@webRoot/assets/css/base.css">
<link rel="stylesheet" href="@@webRoot/assets/css/page.css">